.link {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: inherit;
    
    border-radius: 7px;
    background: var(--bg-main);
    color: var(--font-main);

    width: 100px;
    height: 35px;
}